# Main script to clean wind data at the daily level

**Citations (data sources)**

``Wind data:`` 

download the "MERRA2_100.tavgM_2d_slv_Nx" product; this provides monthly averages of U and V components

1. https://search.earthdata.nasa.gov/search/granules?p=C1276812859-GES_DISC&pg[0][qt]=1991-01-01T00%3A00%3A00.000Z%2C2017-12-31T23%3A59%3A59.999Z&pg[0][gsk]=-start_date&q=MERRA-2%20tavgM&tl=1624239533!3!!&m=-0.0703125!0.0703125!2!1!0!0%2C2

and data dictionary here:

2. https://gmao.gsfc.nasa.gov/pubs/docs/Bosilovich785.pdf
3. https://disc.gsfc.nasa.gov/datasets/M2T1NXSLV_5.12.4/summary


``Shapefiles for California ZIP codes (2010 census):``

4. https://www.census.gov/cgi-bin/geo/shapefiles/index.php?year=2010&layergroup=ZIP+Code+Tabulation+Areas

``Installation errors with Geopandas:``

5. https://stackoverflow.com/questions/54734667/error-installing-geopandas-a-gdal-api-version-must-be-specified-in-anaconda

``How to compute wind speed and direction:``

6. https://stackoverflow.com/questions/21484558/how-to-calculate-wind-direction-from-u-and-v-wind-components-in-r
7. https://github.com/blaylockbk/Ute_WRF/blob/master/functions/wind_calcs.py

``Wind speed and direction intuition:``

8. http://colaweb.gmu.edu/dev/clim301/lectures/wind/wind-uv
9. https://www.earthdatascience.org/courses/use-data-open-source-python/intro-vector-data-python/spatial-data-vector-shapefiles/intro-to-coordinate-reference-systems-python/

``To create maps of this wind data:``

and also used to provide intuition for winddir and windspeed

10. https://disc.gsfc.nasa.gov/information/howto?title=How%20to%20calculate%20and%20plot%20wind%20speed%20using%20MERRA-2%20wind%20component%20data%20using%20Python



**Citations (persons)**
1. N/A

**Preferred environment**
1. Code written in Jupyter Notebooks

In [ ]:
# conda install -c conda-forge cartopy
# !pip install cartopy

In [ ]:
# !pip install geopandas
# !pip install osmnx

In [8]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [38]:
# !ls "/content/gdrive/MyDrive"
# !mkdir "/content/gdrive/MyDrive/W210-data"
! ls "/content/gdrive/MyDrive/W210-data"
# !mkdir "/content/gdrive/MyDrive/W210-data/shapefiles_zcta/"
# !ls "/content/gdrive/MyDrive/W210-data/shapefiles_zcta/amazon-biome-states/"

MERRA2_400.tavg3_3d_asm_Nv.20211231.nc4
MERRA2_400.tavgM_2d_slv_Nx.202112.nc4
shapefiles_zcta
subset_M2T3NVASM_5.12.4_20221015_145010.txt

### Step 1: Import packages

In [1]:
import pandas as pd
import numpy as np
import netCDF4 as ncdf
import os
from datetime import date, timedelta
from math import pi

import matplotlib.pyplot as plt
# import cartopy.crs as ccrs
# from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
import matplotlib.ticker as mticker

# geography
# import geopandas as gpd
# import osmnx as ox
# import shapely
# from shapely.geometry import Point
# import sklearn.neighbors
# dist = sklearn.neighbors.DistanceMetric.get_metric(
#     'haversine'
# )

# ignore warnings
import warnings
warnings.filterwarnings(
    'ignore'
)

### Step 2: Define working directories

In [ ]:
# in_dir_zip_shapes = 'C:/Users/cilin/Research/CA_hospitals/Input/raw_data/census_geo/shapefiles_zcta/'
# in_dir = 'C:/Users/cilin/Research/CA_hospitals/Input/raw_data/winds/'
# in_health = 'C:/Users/cilin/Research/CA_hospitals/Input/final_data/health/'
# out_dir = 'C:/Users/cilin/Research/CA_hospitals/Input/final_data/winds/'

in_dir = "/content/gdrive/MyDrive/W210-data/"
in_dir_zip_shapes = "/content/gdrive/MyDrive/W210-data/shapefiles_zcta/amazon-biome-states/"

### Step 3: Define functions

``read_clean wind``

In [ ]:
os.listdir(in_dir)

wind_1day = ncdf.Dataset('/content/gdrive/MyDrive/W210-data/MERRA2_400.tavg3_3d_asm_Nv.20211231.nc4', mode = 'r')
list(wind_1day.variables)

['lon',
 'lat',
 'lev',
 'time',
 'CLOUD',
 'DELP',
 'EPV',
 'H',
 'O3',
 'OMEGA',
 'PHIS',
 'PL',
 'PS',
 'QI',
 'QL',
 'QV',
 'RH',
 'SLP',
 'T',
 'U',
 'V']

In [ ]:
for dim in wind_1day.dimensions.values():
    print(dim)

<class 'netCDF4._netCDF4.Dimension'>: name = 'lon', size = 576
<class 'netCDF4._netCDF4.Dimension'>: name = 'lat', size = 361
<class 'netCDF4._netCDF4.Dimension'>: name = 'lev', size = 72
<class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 8

In [ ]:
# grab vars of interest ##
##########################
# timestamp
timestamp = wind_1day.variables['time']
# longitude and latitude
lons = wind_1day.variables['lon']
lats = wind_1day.variables['lat']
# eastward wind m/s
U = wind_1day.variables['U']
# northward wind m/s
V = wind_1day.variables['V']
# air temperature
T = wind_1day.variables['T']

In [ ]:
list(timestamp[6:8])

[1080, 1260]

In [ ]:
# see the ground level data
U[5][71][0][0]

0.19274265

In [ ]:
V[5][71][0][0]

5.3385077

In [ ]:
# Replace vals #
################
#\_FillValues with NaNs:
U_nans = U[:]
V_nans = V[:]
_FillValueU = U._FillValue
_FillValueV = V._FillValue
U_nans[U_nans == _FillValueU] = np.nan
V_nans[V_nans == _FillValueV] = np.nan

In [ ]:
(U_nans**2).shape

(8, 72, 361, 576)

In [ ]:
# Add new vars #
################
# calculate wind speed
wspd = np.sqrt(U_nans**2 + V_nans**2)

# calculate wind direction in radians
wdir = np.arctan2(V_nans, U_nans)
            
# transform wind direction from radians to degrees
wdir_to_degrees = wdir * 180/pi  
            
#wdir_to_degrees = np.mod(180+np.rad2deg(np.arctan2(V2M_nans, U2M_nans)), 360)
wdir_to_degrees = np.mod(np.rad2deg(np.arctan2(V_nans, U_nans)), 360)

In [ ]:
# print all shapes 
print("wspd: ", wspd.shape, "\n",
      "wdir: ", wdir.shape, "\n",
      "wdir_to_degrees: ", wdir_to_degrees.shape)

wspd:  (8, 72, 361, 576)
 wdir:  (8, 72, 361, 576)
 wdir_to_degrees:  (8, 72, 361, 576)

In [ ]:
## transform to df ##
#####################
# create an empty df for wind speed and direction with size len(lats) x len(lons) 
df_wdir = pd.DataFrame(index=lats[:], columns=lons[:])   
df_wspd = pd.DataFrame(index=lats[:], columns=lons[:])
            
# create an empty df for u and v components with size len(lats) x len(lons) 
df_u = pd.DataFrame(index=lats[:], columns=lons[:])
df_v = pd.DataFrame(index=lats[:], columns=lons[:])

# create an empty df for timestamp
df_time = pd.DataFrame(index=lats[:], columns=lons[:])

In [ ]:
# df_wdir.index
df_wdir.head()

,-180.000,-179.375,-178.750,-178.125,-177.500,-176.875,-176.250,-175.625,-175.000,-174.375,...,173.750,174.375,175.000,175.625,176.250,176.875,177.500,178.125,178.750,179.375
-90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_u.head()

,-180.000,-179.375,-178.750,-178.125,-177.500,-176.875,-176.250,-175.625,-175.000,-174.375,...,173.750,174.375,175.000,175.625,176.250,176.875,177.500,178.125,178.750,179.375
-90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_time
# time_nans[]
# time_nans
# df_time.loc[1]

,-180.000,-179.375,-178.750,-178.125,-177.500,-176.875,-176.250,-175.625,-175.000,-174.375,...,173.750,174.375,175.000,175.625,176.250,176.875,177.500,178.125,178.750,179.375
-90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
U_nans[5][71][250].shape
# for idx, idx_val in enumerate(df_wdir.index):
#   print(idx, idx_val)

(576,)

In [ ]:
# df_time.loc[-90, :] = 180
# df_time

,-180.000,-179.375,-178.750,-178.125,-177.500,-176.875,-176.250,-175.625,-175.000,-174.375,...,173.750,174.375,175.000,175.625,176.250,176.875,177.500,178.125,178.750,179.375
-90.0,180,180,180,180,180,180,180,180,180,180,...,180,180,180,180,180,180,180,180,180,180
-89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# wdir_to_degrees[5][71][5].shape
# for time_i in list(timestamp[6:8]):
#   print(time_i)
range(len(timestamp[6:8]))

range(0, 2)

In [ ]:
# populate each row in the empty df above with the wdir_meteo and wspd data and u and v components
# loop through time_index and only take the 71st level as the ground level data
for time_i in range(len(timestamp[6:8])):
  for idx, idx_val in enumerate(df_wdir.index):
    df_wdir.loc[idx_val, :] = wdir_to_degrees[time_i][71][idx]
    df_wspd.loc[idx_val, :] = wspd[time_i][71][idx]
    df_u.loc[idx_val, :] = U_nans[time_i][71][idx]
    df_v.loc[idx_val, :] = V_nans[time_i][71][idx]
    df_time.loc[idx_val, :] = timestamp[6:8][time_i]

In [2]:
# !pip install pydap
from pydap.client import open_url
from pydap.cas.urs import setup_session

## **Set up environment to read data files with Requests from Python**

In [19]:
# set up environment to read data files with Requests from Python
! cd ~
! touch .netrc
! echo "machine urs.earthdata.nasa.gov login jedi0829 password Xiaobai_6688" >> .netrc
! chmod 0600 .netrc

In [21]:
! pip install Requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from Requests) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from Requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from Requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from Requests) (2.10)

In [2]:
import requests

In [3]:
# Set the URL string to point to a specific data URL. Some generic examples are:
   #   https://servername/data/path/file
   #   https://servername/opendap/path/file[.format[?subset]]
   #   https://servername/daac-bin/OTF/HTTP_services.cgi?KEYWORD=value[&KEYWORD=value]
URL = 'https://goldsmr5.gesdisc.eosdis.nasa.gov/daac-bin/OTF/HTTP_services.cgi?FILENAME=%2Fdata%2FMERRA2%2FM2T3NVASM.5.12.4%2F2021%2F01%2FMERRA2_400.tavg3_3d_asm_Nv.20210101.nc4&FORMAT=bmM0Lw&BBOX=-34%2C-74%2C6%2C-34&LABEL=MERRA2_400.tavg3_3d_asm_Nv.20210101.SUB.nc&SHORTNAME=M2T3NVASM&SERVICE=L34RS_MERRA2&LAYERS=LAYER_72&VERSION=1.02&DATASET_VERSION=5.12.4&VARIABLES=RH%2CT%2CU%2CV'
# URL = 'https://goldsmr5.gesdisc.eosdis.nasa.gov/data/MERRA2/M2T3NVASM.5.12.4/doc/MERRA2.README.pdf'

In [9]:
result = requests.get(URL)
type(result.content)

bytes

In [21]:
# Set the FILENAME string to the data file name, the LABEL keyword value, or any customized name. 
FILENAME = 'test.nc4'
   
import requests
result = requests.get(URL)
try:
    result.raise_for_status()
    f = open(FILENAME,'wb')
    f.write(result.content)
    f.close()
    print('contents of URL written to '+FILENAME)
except:
    print('requests.get() returned an error code '+str(result.status_code))

contents of URL written to test.nc4

In [7]:
! pwd

/Users/ChangLiu/Documents/UC Berkeley MIDS/210 Capstone/amazon

In [22]:
df_test = ncdf.Dataset('/Users/ChangLiu/Documents/UC Berkeley MIDS/210 Capstone/amazon/test.nc4', mode = 'r')
# df_test = pd.read_csv("/Users/ChangLiu/Documents/UC Berkeley MIDS/210 Capstone/amazon/test.nc4")
list(df_test.variables)

['time', 'lon', 'lat', 'lev', 'RH', 'T', 'U', 'V']

In [24]:
df_test['lat'][:]

masked_array(data=[-3.4000000e+01, -3.3500000e+01, -3.3000000e+01,
                   -3.2500000e+01, -3.2000000e+01, -3.1500000e+01,
                   -3.1000000e+01, -3.0500000e+01, -3.0000000e+01,
                   -2.9500000e+01, -2.9000000e+01, -2.8500000e+01,
                   -2.8000000e+01, -2.7500000e+01, -2.7000000e+01,
                   -2.6500000e+01, -2.6000000e+01, -2.5500000e+01,
                   -2.5000000e+01, -2.4500000e+01, -2.4000000e+01,
                   -2.3500000e+01, -2.3000000e+01, -2.2500000e+01,
                   -2.2000000e+01, -2.1500000e+01, -2.1000000e+01,
                   -2.0500000e+01, -2.0000000e+01, -1.9500000e+01,
                   -1.9000000e+01, -1.8500000e+01, -1.8000000e+01,
                   -1.7500000e+01, -1.7000000e+01, -1.6500000e+01,
                   -1.6000000e+01, -1.5500000e+01, -1.5000000e+01,
                   -1.4500000e+01, -1.4000000e+01, -1.3500000e+01,
                   -1.3000000e+01, -1.2500000e+01, -1.2000000e+01,
                   -1.1500000e+01, -1.1000000e+01, -1.0500000e+01,
                   -1.0000000e+01, -9.5000000e+00, -9.0000000e+00,
                   -8.5000000e+00, -8.0000000e+00, -7.5000000e+00,
                   -7.0000000e+00, -6.5000000e+00, -6.0000000e+00,
                   -5.5000000e+00, -5.0000000e+00, -4.5000000e+00,
                   -4.0000000e+00, -3.5000000e+00, -3.0000000e+00,
                   -2.5000000e+00, -2.0000000e+00, -1.5000000e+00,
                   -1.0000000e+00, -5.0000000e-01, -1.7975103e-13,
                    5.0000000e-01,  1.0000000e+00,  1.5000000e+00,
                    2.0000000e+00,  2.5000000e+00,  3.0000000e+00,
                    3.5000000e+00,  4.0000000e+00,  4.5000000e+00,
                    5.0000000e+00,  5.5000000e+00,  6.0000000e+00],
             mask=False,
       fill_value=1e+20)

In [51]:
lats = [x/10 for x in range(-340,65,5)]

In [56]:
# lats

In [27]:
len(df_test['lat'][:])

81

In [52]:
len(lats)

81

In [29]:
df_test['lon'][:]

masked_array(data=[-73.75 , -73.125, -72.5  , -71.875, -71.25 , -70.625,
                   -70.   , -69.375, -68.75 , -68.125, -67.5  , -66.875,
                   -66.25 , -65.625, -65.   , -64.375, -63.75 , -63.125,
                   -62.5  , -61.875, -61.25 , -60.625, -60.   , -59.375,
                   -58.75 , -58.125, -57.5  , -56.875, -56.25 , -55.625,
                   -55.   , -54.375, -53.75 , -53.125, -52.5  , -51.875,
                   -51.25 , -50.625, -50.   , -49.375, -48.75 , -48.125,
                   -47.5  , -46.875, -46.25 , -45.625, -45.   , -44.375,
                   -43.75 , -43.125, -42.5  , -41.875, -41.25 , -40.625,
                   -40.   , -39.375, -38.75 , -38.125, -37.5  , -36.875,
                   -36.25 , -35.625, -35.   , -34.375],
             mask=False,
       fill_value=1e+20)

In [30]:
len(df_test['lon'][:])

64

In [60]:
lons = [x/1000 for x in range(-73750, -33875, 625)]
# lons
len(lons)

64

In [54]:
len(lons)

119

In [37]:
u_cube = df_test['U'][:,0,:,:]
v_cube = df_test['V'][:,0,:,:]

In [47]:
pd.DataFrame(u_cube[0])

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,2.627565,3.753541,3.220826,4.148072,3.329713,-0.366088,-3.299193,-3.383178,-6.117553,-5.732787,...,10.249635,9.714478,9.675416,10.019166,7.993775,5.261353,5.321900,4.847291,4.425416,3.587526
1,2.264283,3.267701,2.775026,3.573854,2.551393,-0.406127,-2.547240,-3.307006,-6.953490,-6.476928,...,9.345338,8.935182,9.546510,8.612916,5.443971,5.060182,4.670533,3.747682,3.049928,2.237184
2,1.987672,2.749635,2.710572,3.293580,1.571199,-1.160521,-2.514037,-1.954467,-6.357787,-7.535522,...,8.388307,8.581666,8.609010,6.124635,4.289674,4.621705,3.614869,3.093873,2.022584,0.811891
3,1.760988,2.222291,2.924440,3.077760,1.057008,-1.792357,-3.088256,-2.288451,-5.058959,-7.844115,...,8.110963,8.587525,6.634400,4.546510,3.897096,3.398072,2.698365,2.196168,1.667848,0.459108
4,1.514512,1.669679,3.001588,2.324586,0.704957,-2.842162,-3.769896,-3.473021,-2.592162,-6.519897,...,8.325807,7.790650,5.472291,4.317994,3.694947,2.802858,2.418092,0.877076,1.008302,0.414674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,-3.137084,-3.474974,-5.707397,-6.060912,-5.146850,-3.213256,-2.381224,-1.551146,-0.805053,-0.241576,...,-2.824584,-3.269896,-3.381224,-3.549193,-3.746459,-3.537474,-3.090209,-3.006224,-2.904662,-2.889037
77,-2.599974,-2.709349,-6.258178,-6.801147,-6.517943,-5.461303,-4.131225,-2.805053,-1.244506,-0.056029,...,-2.793334,-3.039428,-3.072631,-3.390990,-3.652709,-3.242553,-2.695678,-2.609740,-2.459349,-2.383178
78,-1.334349,-2.164428,-4.619506,-5.568725,-6.228881,-6.142943,-5.088256,-4.027709,-2.393920,-0.870482,...,-3.234740,-3.373412,-3.732787,-3.990599,-3.898803,-3.305053,-2.873412,-2.842162,-2.695678,-2.485717
79,-0.296752,-1.466185,-3.248412,-2.705443,-5.015990,-6.004272,-5.340209,-4.443725,-3.265990,-2.036498,...,-4.640990,-4.533568,-4.752318,-4.717162,-4.394897,-3.973021,-3.642943,-3.598021,-3.490599,-3.265990
80,-0.906615,0.765504,-3.217162,-1.580443,-3.277709,-5.853881,-5.947631,-5.023803,-3.834349,-3.207396,...,-5.760131,-5.291381,-4.953490,-5.033568,-4.902709,-4.594115,-4.248412,-4.191772,-4.183959,-4.082397

In [44]:
pd.DataFrame(v_cube[0])

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,11.406530,10.656530,9.414343,6.189733,2.631140,1.988073,-0.713587,-4.128626,-6.491908,-7.204798,...,2.227331,2.363073,2.918249,0.321844,-9.218470,-15.163782,-16.741907,-17.109095,-17.038782,-16.405970
1,11.332312,10.652624,9.664343,6.679967,2.787390,1.846960,-0.583948,-3.958704,-6.230189,-7.101283,...,3.101843,3.694616,2.888952,-4.829798,-13.148157,-16.452845,-16.601282,-15.921595,-14.999720,-14.695032
2,11.191687,10.609655,9.883093,7.635046,3.533483,1.526647,-1.195032,-2.803431,-5.509486,-6.589564,...,4.290319,4.574499,-0.527796,-10.382532,-14.835657,-16.437220,-16.116907,-15.780970,-14.960657,-13.230188
3,11.051062,10.543249,9.969030,7.666296,3.498327,0.818151,-2.238978,-1.653040,-3.888392,-6.437220,...,5.435827,3.007116,-6.415736,-13.734095,-15.851282,-15.655970,-15.222376,-15.202845,-13.636438,-12.741907
4,10.906530,10.453405,9.750280,6.918249,3.038366,0.095617,-2.716517,-1.345911,-4.570033,-7.038783,...,4.873327,-2.198939,-11.784876,-15.757532,-16.101282,-14.878626,-14.816126,-14.218470,-14.023157,-12.823938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,0.125524,-0.996302,-0.649622,-1.065150,-1.142786,-1.153528,-1.624720,-1.719446,-1.850306,-1.846400,...,1.584753,1.320837,1.157751,0.967077,0.852453,0.962682,1.175573,1.339147,1.463171,1.657018
77,0.598425,-1.494837,-2.506556,-2.085657,-1.504114,-1.276087,-1.634485,-1.522181,-1.120814,-0.926478,...,2.003698,1.776647,1.493932,1.192175,1.145544,1.194860,1.187048,1.158727,1.116735,1.240270
78,0.648718,0.447317,-3.355189,-3.946985,-2.281946,-1.353724,-1.181849,-1.388392,-1.278040,-0.975306,...,2.257604,1.565710,1.329870,1.234411,1.222936,1.147009,1.040563,0.924352,0.708044,0.589269
79,-0.277064,1.512975,-0.992884,-4.046595,-3.238978,-1.620814,-1.204310,-1.525599,-1.586634,-1.272181,...,0.187841,-0.431605,-0.212366,0.176489,0.276952,0.170141,0.090612,0.075231,-0.009486,-0.231165
80,-0.113489,-0.148157,-0.167689,-4.159876,-4.134486,-2.469446,-2.001673,-2.794642,-3.106165,-2.657923,...,-1.827845,-1.850306,-1.597376,-1.065150,-0.801966,-0.844446,-0.911829,-0.827845,-0.715540,-0.796107

In [48]:
# Convert numpy to DataFrames using melt and then merged together
dfs = []
times = [0,  180,  360,  540,  720,  900, 1080, 1260]
for x in range(0, len(times)):
    melted_V = pd.DataFrame(v_cube[x]).reset_index().melt('index')
    melted_V.columns = ['lat_key', 'lon_key', 'V']
    melted_V['lat'] = melted_V['lat_key'].apply(lambda x: lats[x])
    melted_V['lon'] = melted_V['lon_key'].apply(lambda x: lons[x])
    melted_U = pd.DataFrame(u_cube[x]).reset_index().melt('index')
    melted_U.columns = ['lat_key', 'lon_key', 'U']
    melted_U['lat'] = melted_U['lat_key'].apply(lambda x: lats[x])
    melted_U['lon'] = melted_U['lon_key'].apply(lambda x: lons[x])
    dfs.append(pd.merge(melted_V, melted_U)[['lat','lon','U','V']])
    dfs[x]['Time'] = times[x] / 60
merged_df = pd.concat(dfs)

In [49]:
# Add wind vector calculations.
merged_df['wspd'] = np.sqrt(merged_df['U']**2+merged_df['V']**2)
merged_df['wdir'] = np.arctan2(merged_df['U'], merged_df['V']) * 180/pi

In [50]:
# Examine reuslts.
merged_df

       lat     lon         U          V  Time       wspd       wdir
0    -35.0 -75.000  2.627565  11.406530   0.0  11.705256  12.972144
1    -34.5 -75.000  2.264283  11.332312   0.0  11.556309  11.299339
2    -34.0 -75.000  1.987672  11.191687   0.0  11.366824  10.070866
3    -33.5 -75.000  1.760988  11.051062   0.0  11.190489   9.053965
4    -33.0 -75.000  1.514512  10.906530   0.0  11.011183   7.905702
...    ...     ...       ...        ...   ...        ...        ...
5179   3.0 -35.625 -2.985204   2.119244  21.0   3.660961 -54.628456
5180   3.5 -35.625 -3.063329   1.717876  21.0   3.512134 -60.716843
5181   4.0 -35.625 -3.709814   1.174419  21.0   3.891269 -72.433723
5182   4.5 -35.625 -5.018407   0.693218  21.0   5.066060 -82.135216
5183   5.0 -35.625 -5.645360  -0.544453  21.0   5.671554 -95.508713

[41472 rows x 7 columns]

In [10]:
file_text = open('/content/gdrive/MyDrive/W210-data/subset_M2T3NVASM_5.12.4_20221015_145010.txt', 'r')
Lines = file_text.readlines()

In [13]:
len(Lines)
Lines[1]

'https://goldsmr5.gesdisc.eosdis.nasa.gov/daac-bin/OTF/HTTP_services.cgi?FILENAME=%2Fdata%2FMERRA2%2FM2T3NVASM.5.12.4%2F2021%2F01%2FMERRA2_400.tavg3_3d_asm_Nv.20210101.nc4&FORMAT=bmM0Lw&BBOX=-34%2C-74%2C6%2C-34&LABEL=MERRA2_400.tavg3_3d_asm_Nv.20210101.SUB.nc&SHORTNAME=M2T3NVASM&SERVICE=L34RS_MERRA2&LAYERS=LAYER_72&VERSION=1.02&DATASET_VERSION=5.12.4&VARIABLES=RH%2CT%2CU%2CV\n'

In [ ]:
# add index (latitude) as column
            df_wdir.reset_index(
                drop=False,
                inplace=True
            )
            
            df_wdir.rename(
                columns={'index':'lat'},
                inplace=True
            )
            
            
            df_wspd.reset_index(
                drop=False,
                inplace=True
            )
            
            df_wspd.rename(
                columns={'index':'lat'},
                inplace=True
            )
            
            df_u.reset_index(
                drop=False,
                inplace=True
            )
            
            df_u.rename(
                columns={'index':'lat'},
                inplace=True
            )
            
            df_v.reset_index(
                drop=False,
                inplace=True
            )
            
            df_v.rename(
                columns={'index':'lat'},
                inplace=True
            )

In [ ]:
def read_clean_wind():
    ''''''
    # create empty df
    df = pd.DataFrame()

    for file in os.listdir(in_dir):
        if file.startswith('MERRA2'):
            print(file.split('.')[2])

            ## read .nc file ##
            ###################
            data = ncdf.Dataset(
                in_dir + file, mode='r'
            )
            # print metadata
            #print(data)

            # grab vars of interest ##
            ##########################
            # longitude and latitude
            lons = data.variables['lon']
            lats = data.variables['lat']
            # 2-meter eastward wind m/s
            U2M = data.variables['U2M']
            # 2-meter northward wind m/s
            V2M = data.variables['V2M']
            # timestamp
            timestamp = data.variables['time']

            # Replace vals #
            ################
            #\_FillValues with NaNs:
            U2M_nans = U2M[:]
            V2M_nans = V2M[:]
            _FillValueU2M = U2M._FillValue
            _FillValueV2M = V2M._FillValue
            U2M_nans[U2M_nans == _FillValueU2M] = np.nan
            V2M_nans[V2M_nans == _FillValueV2M] = np.nan

            # Add new vars #
            ################
            # calculate wind speed
            wspd = np.sqrt(U2M_nans**2+V2M_nans**2)

            # calculate wind direction in radians
            wdir = np.arctan2(V2M_nans, U2M_nans)
            
            # transform wind direction from radians to degrees
            wdir_to_degrees = wdir * 180/pi  
            
            #wdir_to_degrees = np.mod(180+np.rad2deg(np.arctan2(V2M_nans, U2M_nans)), 360)
            wdir_to_degrees = np.mod(np.rad2deg(np.arctan2(V2M_nans, U2M_nans)), 360)


            ## transform to df ##
            #####################
            # create an empty df for wind speed and direction with size len(lats) x len(lons) 
            df_wdir = pd.DataFrame(index=lats[:], columns=lons[:])   
            df_wspd = pd.DataFrame(index=lats[:], columns=lons[:])
            
            # create an empty df for u and v components with size len(lats) x len(lons) 
            df_u = pd.DataFrame(index=lats[:], columns=lons[:])
            df_v = pd.DataFrame(index=lats[:], columns=lons[:])

            # populate each row in the empty df above with the wdir_meteo and wspd data and u and v components
            for idx, idx_val in enumerate(df_wdir.index):
                df_wdir.loc[idx_val, :] = wdir_to_degrees[0][idx]
                df_wspd.loc[idx_val, :] = wspd[0][idx]
                df_u.loc[idx_val, :] = U2M_nans[0][idx]
                df_v.loc[idx_val, :] = V2M_nans[0][idx]

            # add index (latitude) as column
            df_wdir.reset_index(
                drop=False,
                inplace=True
            )
            
            df_wdir.rename(
                columns={'index':'lat'},
                inplace=True
            )
            
            
            df_wspd.reset_index(
                drop=False,
                inplace=True
            )
            
            df_wspd.rename(
                columns={'index':'lat'},
                inplace=True
            )
            
            df_u.reset_index(
                drop=False,
                inplace=True
            )
            
            df_u.rename(
                columns={'index':'lat'},
                inplace=True
            )
            
            df_v.reset_index(
                drop=False,
                inplace=True
            )
            
            df_v.rename(
                columns={'index':'lat'},
                inplace=True
            )

            # transform from wide to long
            df_wdir = pd.melt(
                df_wdir, id_vars='lat',
                var_name='lon',
                value_vars=lons[:],
                value_name='wdir'
            )
            
            df_wspd = pd.melt(
                df_wspd,
                id_vars='lat',
                var_name='lon',
                value_vars=lons[:],
                value_name='wspd'
            )
            
            df_u = pd.melt(
                df_u, id_vars='lat',
                var_name='lon',
                value_vars=lons[:],
                value_name='u'
            )
            
            df_v = pd.melt(
                df_v, id_vars='lat',
                var_name='lon',
                value_vars=lons[:],
                value_name='v'
            )

            # concatenate df_wdir and df_wspd
            df_temp1 = df_wdir.merge(
                df_wspd,
                on=['lat', 'lon'],
                how='left'
            )
            
            # concatenate df_u and df_v
            df_temp2 = df_u.merge(
                df_v,
                on=['lat', 'lon'],
                how='left'
            )
            
            # concatenate df_temp1 and df_temp2
            df_temp = df_temp2.merge(
                df_temp1,
                on=['lat', 'lon'],
                how='left'
            )
            
            # add time stamp 
            df_temp['year_month'] = file.split('.')[2]

            df = pd.concat(
                [df_temp, df],
                axis=0
            )
   
    # keep values in min, max range of California geometry
    df = df[
        df.lon.ge(-125) & df.lon.le(-115) & df.lat.ge(32) & df.lat.le(42)
    ]
    
    # convert wind direction to the meteorological convention
    # see here: https://stackoverflow.com/questions/21484558/how-to-calculate-wind-direction-from-u-and-v-wind-components-in-r
    # see here too: https://www.e-education.psu.edu/meteo300/node/719
    '''
    df['wdir_meteo'] = 270 - df.wdir
    df['wdir_meteo'] = np.where(
        df.wdir_meteo.lt(0), df.wdir_meteo+360, df.wdir_meteo
    )
    
    # replace wdir to reflect wdir_meteo
    df['wdir'] = df.wdir_meteo 
    df.drop(
        columns=['wdir_meteo'],
        inplace=True
    )
    
    df['wdir'] = np.mod(180+np.rad2deg(np.arctan2(V2M_nans, U2M_nans)), 360)
    '''
    # transform vars
    df['lat'] = df.lat.astype(float)
    df['lon'] = df.lon.astype(float)
    
    return df

``read census geom``

In [ ]:
gdf = gpd.read_file(in_dir_zip_shapes + "states_amazon_biome.shp")
gdf

,id,nome,sigla,geocodigo,geometry
0,2,Rondônia,RO,11,"MULTIPOLYGON (((-59.98861 -11.91000, -59.98811..."
1,3,Acre,AC,12,"POLYGON ((-66.62735 -9.89885, -66.62730 -9.899..."
2,4,Amazonas,AM,13,"POLYGON ((-73.79834 -7.11298, -73.79827 -7.112..."
3,5,Roraima,RR,14,"POLYGON ((-60.18882 5.23222, -60.15748 5.23044..."
4,6,Pará,PA,15,"MULTIPOLYGON (((-46.38414 -1.03655, -46.38429 ..."
5,7,Amapá,AP,16,"MULTIPOLYGON (((-49.98155 0.87511, -49.98229 0..."
6,8,Tocantins,TO,17,"POLYGON ((-47.89974 -5.25030, -47.89995 -5.250..."
7,14,Mato Grosso,MT,51,"MULTIPOLYGON (((-50.35017 -9.83338, -50.35059 ..."
8,26,Maranhão,MA,21,"MULTIPOLYGON (((-44.08515 -2.41669, -44.08560 ..."

In [ ]:
def read_census_geom():
    """ Read Census (lat, lon) coordinates for California zip-codes
    parameters:
    -----------
    None
    
    return:
    -------
    Df with osmnx_geom
    """
    ### Step 1 ### 
    ##############
    # Read the shapefiles for California's ZIP codes
    for file in os.listdir(in_dir_zip_shapes):
        if file.endswith('.shp'):
            gdf = gpd.read_file(in_dir_zip_shapes + file)

    # keep only cols of interest 
    # ('ZCTA5CE10' = 2010 Census ZIP codes,	'GEOID10' = 2010 Census Tract codes)
    gdf = gdf[
        ['ZCTA5CE10',
         'GEOID10',
         'geometry']
    ]
    
    
    ### Step 2 ###
    ###############
    # For each zip cpde extract polygon with (lat, lon) info

    zip_poly = pd.DataFrame()

    for idx, multipoly in enumerate(gdf.geometry):
        if isinstance(multipoly, shapely.geometry.polygon.Polygon):
            temp_df = pd.DataFrame(
                {
                    'lat': multipoly.exterior.coords.xy[1], 
                    'lon': multipoly.exterior.coords.xy[0],
                    'ZCTA10': gdf.loc[idx, 'ZCTA5CE10'],
                    'GEOID10': gdf.loc[idx, 'GEOID10']
                }
            )
            zip_poly = pd.concat(
                [zip_poly, temp_df],
                axis=0
            )

        if isinstance(multipoly, shapely.geometry.multipolygon.MultiPolygon):
            for poly in multipoly:
                temp_df = pd.DataFrame(
                    {
                        'lat': poly.exterior.coords.xy[1], 
                        'lon': poly.exterior.coords.xy[0],
                        'ZCTA10': gdf.loc[idx, 'ZCTA5CE10'],
                        'GEOID10': gdf.loc[idx, 'GEOID10']
                    }
                )
                zip_poly = pd.concat(
                    [zip_poly, temp_df],
                    axis=0
                )   
    

    # round (lat, lon) to 2 decimal points and add 0.005 to match the UW (lat, lon) values
    zip_poly['lat'] = zip_poly.lat.round(3)
    zip_poly['lon'] = zip_poly.lon.round(3)
    
    zip_poly.sort_values(
        by=['ZCTA10', 'lat', 'lon'],
        inplace=True
    )
    
    zip_poly.drop_duplicates(
        subset=['ZCTA10', 'lat', 'lon'],
        inplace=True
    )

    zip_poly.reset_index(
        drop=True,
        inplace=True
    )
    
    return zip_poly

``find zip (zcta) code for wind data``

In [ ]:
def add_zcta_to_wind(df1, df2):
    '''
    params:
    -------
    df1: wind data
    df2: census geometry data
    
    return:
    -------
    '''
    
    # create labels
    df1['wind_lat_lon'] = [str(xy) for xy in zip(df1.lat, df1.lon)]
    df2['census_lat_lon'] = [str(xy) for xy in zip(df2.lat, df2.lon)]

    ## for each point in wind data find the nearest point in the census data ##
    ###############
    # keep only unique points in wind data
    df1_unique = df1.drop_duplicates(
        ['wind_lat_lon']
    )
    
    df2_unique = df2.drop_duplicates(
        ['census_lat_lon']
    )
    
    df1_unique.reset_index(
        drop=True,
        inplace=True
    )
    
    df2_unique.reset_index(
        drop=True,
        inplace=True
    )

    # transform to radians
    df1_unique['lat_r'] = np.radians(df1_unique.lat)
    df1_unique['lon_r'] = np.radians(df1_unique.lon)
    df2_unique['lat_r'] = np.radians(df2_unique.lat)
    df2_unique['lon_r'] = np.radians(df2_unique.lon)


    # compute pairwise distance (in miles)
    dist_matrix = (dist.pairwise(
        df2_unique[['lat_r', 'lon_r']],
        df1_unique[['lat_r', 'lon_r']]
    ))*3959

    # create a df from dist_matrix
    dist_matrix = pd.DataFrame(
        dist_matrix,
        index=df2_unique['census_lat_lon'],
        columns=df1_unique['wind_lat_lon']
    )
    
    # for each row (census_lat_lon point) extract the closest column (wind_lat_lon point) 
    closest_point = pd.DataFrame(
        dist_matrix.idxmin(axis=1),
        columns=['closest_wind_lat_lon']
    )
    
    closest_point.reset_index(
        drop=False,
        inplace=True
    )

    # merge with census data
    df2_unique = df2_unique.merge(
        closest_point,
        on='census_lat_lon',
        how='left'
    )
    
    # merge with census data 
    df2_unique = df2_unique.merge(
        df2[['census_lat_lon']],
        on=['census_lat_lon'],
        how='left'
    )
    
    # replicate df2_unique based on number of year_month entries in df1
    df2_unique = pd.concat(
        [df2_unique]*(df1.year_month.nunique()),
        axis=0
    )
    
    df2_unique.reset_index(
        drop=True,
        inplace=True
    )
    
    # add year_month column to df2_unique
    df2_unique['year_month'] = 0
    indeces = [n for n in range(1, df2_unique.shape[0]) if n%956926==0]

    year_month = np.sort(df1.year_month.unique())
    for idx, index in enumerate(indeces):
        if idx==0:
            df2_unique.iloc[0:indeces[idx], 8] = year_month[idx]
        else:
            df2_unique.iloc[indeces[idx-1]:indeces[idx], 8] = year_month[idx]
            
            
    # from df1 keep only cols of interest
    df1 = df1[
        ['year_month',
         'u',
         'v',
         'wdir',
         'wspd',
         'wind_lat_lon']
    ]
    
    # merge df2_unique with df1
    df2_unique = df2_unique.merge(
        df1,
        left_on=['year_month', 'closest_wind_lat_lon'],
        right_on=['year_month', 'wind_lat_lon'],
        how='left'
    )
    # keep only cols of interest
    df2_unique = df2_unique[
        ['lat',
         'lon',
         'ZCTA10',
         'u',
         'v',
         'wdir',
         'wspd',
         'year_month']
    ]
    
    df2_unique.dropna(
        inplace=True
    )
    
    df2_unique.reset_index(
        drop=True,
        inplace=True
    )
    
    df2_unique.drop_duplicates(
    ['year_month', 'ZCTA10'],
    inplace=True
    )

    df2_unique.reset_index(
        drop=True,
        inplace=True
    )
    
    return df2_unique

### Step 4: Read data

``wind``

In [ ]:
df = read_clean_wind()
df
# A positive U wind comes from the west, and a negative U wind comes from the east. 
# The V wind component is parallel to the y- axis (i.e. latitude). A positive V wind comes from the south, and a negative V wind comes from the north.

202112

        lat    lon         u         v        wdir      wspd year_month
32012  32.0 -125.0  2.557108 -2.114869  320.407379  3.318354     202112
32013  32.5 -125.0  2.700869 -2.065641  322.591034   3.40023     202112
32014  33.0 -125.0  2.823102 -2.050217   324.01178  3.489025     202112
32015  33.5 -125.0  2.952745 -2.071095  324.953674  3.606679     202112
32016  34.0 -125.0  3.125051 -2.153463  325.429382  3.795174     202112
...     ...    ...       ...       ...         ...       ...        ...
37804  40.0 -115.0  1.703349  1.286709   37.067387  2.134717     202112
37805  40.5 -115.0    1.9087  1.062686   29.107273  2.184591     202112
37806  41.0 -115.0  1.948897  0.953448      26.069  2.169622     202112
37807  41.5 -115.0  2.232198  0.977663   23.652546  2.436911     202112
37808  42.0 -115.0  2.719841  1.436823   27.846357  3.076035     202112

[357 rows x 7 columns]

``census geom``

In [ ]:
zip_poly = read_census_geom()
zip_poly.head(2)

      lat      lon ZCTA10  GEOID10
0  37.465 -117.936  89010  0689010
1  37.465 -117.935  89010  0689010

### Step 5: Find zip (zcta) code for wind data

In [ ]:
df_final = add_zcta_to_wind(df, zip_poly)
df_final.head(2)

      lat      lon ZCTA10         u         v        wdir      wspd year_month
0  37.465 -117.936  89010  0.504258 -0.719008  125.042938  0.878208     199101
1  35.396 -116.322  89019 -0.172753  -0.94694   79.661095  0.962568     199101

### Step 6: Export data

In [ ]:
df_final.to_csv(out_dir  + 'winds.csv')

In [ ]:
df_final['wdir'] = df_final.wdir.astype('float')

In [ ]:
df_final.wdir.describe()

count    599311.000000
mean        179.408960
std          72.259209
min           0.041595
25%         140.561295
50%         180.584778
75%         220.575256
max         359.992188
Name: wdir, dtype: float64